body	{
	background: #1C1C1C;
	font-family: 'Ubuntu', sans-serif;
}

h1.mainBanner {
	color: white;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	clear: left;
}

#url-form {
	margin-bottom: 1em;
}

#url-form input {
	width: 15em;
}

#url-list,
#url-list li {
	display: inline;
	margin: 0;
	padding: 0;
}

#url-list li:after {
	content: " ";
}

#url-list li:last-child:after {
	content: "";
}

#url-list li a,
#url-list li a:visited {
	color: white;
}

#url-list li a:hover {
	color: #C76410;
}

table#elements{
	border: 0;
	width: 0;
	border-collapse: collapse;
	clear: left;
	margin: 1em 0 8em;
}

table#elements td,
table#elements .element {
	/*width: 5.5%;*/
	height: 4em;
	padding: 0;
	margin: 0;
}

table#elements td {
	padding: 2px;
}

/* Icon */

ul#legend .icon,
table#elements td .icon {
	background: white url('../images/background.png') bottom left repeat-x;
	color: black;
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	/*line-height: 4.44em;*/
	/*width: 5.5%;*/
	height: 4.44em;
	margin: 0;
	opacity: 0.8;
	padding: 0;
	overflow: hidden;
	text-align: center;
	position: relative;
	border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

table#elementsr .active .icon,
table#elements td:hover .icon {
	left: -1px;
	opacity: 1 !important;
	padding: 1px;
	top: -1px;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
}
table#elementsr .active .icon .occurences,
table#elements td:hover .icon .occurences {
	display: block;
}

table#elements .icon .occurences {
	position: absolute;
	top: 4px;
	right: 6px;
	line-height: 1em;
	font-size: 0.9em;
	opacity: 0.7;
	display: none;
}

/* Info Box */

table#elements td .info {
	background: white !important;
	color: black;
	display: none;
	margin: 0 2px;
	min-height: 5em;
	padding: 0.75em;
    top: 90px;
    left: 15%;
	position: absolute;
	margin-top: 4.5em;
	width: 40%;
	height: 170px;
	z-index: 200;
	border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 8px 2px;
}

table#elements td .info h3 {
	color: black;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size: 1.6em;
}

table#elements td .info p {
	margin-bottom: 0.75em;
}

table#elements td .info a:active,
table#elements td .info a:hover {
	color: #FF8215;
}

table#elements td .info *:last-child {
	margin-bottom: 0;
}


table#elements td .links {
	margin: 0;
	padding: 0;
	list-style: none;
}

table#elements td .links li {
	margin: 0;
	padding: 0;
	display: inline;
}

table#elements td .links li:after {
	content: " ";
}

table#elements td .links li:last-child:after {
	content: "";
}

/* Legend */

ul#legend {
	color: white;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#legend li {
	float: left;
	width: 24%;
	padding: 0.125em 0;
}

ul#legend .icon {
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: middle;
}

/* Colours */

ul#legend .nonmetals .icon,
table#elements .nonmetals .icon,
table#elements .nonmetals .info {
	background-color: #a0ffa0;
}

ul#legend .Lanthanides .icon,
table#elements .Lanthanides .icon,
table#elements .Lanthanides .info {
	background-color: #ffbfff;
}

ul#legend .noblegases .icon,
table#elements .noblegases .icon,
table#elements .noblegases .info {
	background-color: #c0ffff;
}

ul#legend .Actinides .icon,
table#elements .Actinides .icon,
table#elements .Actinides .info {
	background-color: #ff99cc;
}

ul#legend .alkali-metals .icon,
table#elements .alkali-metals .icon,
table#elements .alkali-metals .info {
	background-color: #ff6666;
}

ul#legend .trans-metals .icon,
table#elements .trans-metals .icon,
table#elements .trans-metals .info {
	background-color: #ffc0c0;
}

ul#legend .post-trans-metals .icon,
table#elements .post-trans-metals .icon,
table#elements .post-trans-metals .info {
	background-color: #cccccc;
}

ul#legend .alkali-earth-metals .icon,
table#elements .alkali-earth-metals .icon,
table#elements .alkali-earth-metals .info {
	background-color: #ffdead;
}

ul#legend .Metalloids .icon,
table#elements .Metalloids .icon,
table#elements .Metalloids .info {
	background-color: #cccc99;
}

ul#legend .Halogens .icon,
table#elements .Halogens .icon,
table#elements .Halogens .info {
	background-color: #ffff99;
}

ul#legend .UnknownChemical .icon,
table#elements .UnknownChemical .icon,
table#elements .UnknownChemical .info {
	background-color: #e8e8e8;
}

