/* Layout */

#header-wrapper,
#content-wrapper,
#footer {
	/*width: 950px;*/
	margin: 0 auto;
}

/* Fonts */

@font-face {
	font-family: 'Hammersmith One', sans-serif;
}

/* Base Styling */

body	{
	background: url('/images/layout/background.jpg') 50% -100px fixed no-repeat #1c1d26;
	font-family: 'Hammersmith One', sans-serif;
	/*font-family: Tahoma, Verdana, Arial, Sans-serif;*/
}

h1 {
	font-size: 2.6em;
}

h1, h2, h3, h4, h5, h6, body {
	color: white;
}

a:visited {
	color: #c76410;
}

h2 a,
h2 a:visited,
#navigation a,
#navigation a:visited,
a,
a:hover,
a:active {
	color: white;
}

#navigation a:hover,
h2 a:hover,
a {
	text-decoration: none;
	color: #ff8215;
}

#banner, 
#navigation,
h1, h2, h3, h4, h5, h6 {
	font-family: 'Hammersmith One', sans-serif;
}

/* Navigation */

#header-wrapper {
	margin-bottom: 4em;
	border-bottom: 1px solid #2a2a2c;
	border-top: 1px solid #2a2a2c;
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-top-color: rgba(255, 255, 255, 0.1);
}

#header {
	border-top: 1px solid #131315;
	border-bottom: 1px solid #131315;
	border-top-color: rgba(0, 0, 0, 0.5);
	border-bottom-color: rgba(0, 0, 0, 0.5);
	background-color: rgb(28, 29, 38);
	background-color: rgba(28, 29, 38, 0.9);
	padding: 3em 0 1em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#header #banner {
	display: inline-block;
	/*width: 230px;*/
	margin: 0 10px 0 0;
	text-align: right;
	font-size: 3.4em;
}

#header #banner a {
	color: white;
	padding: 0 0.1em;
}

#navigation {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding: 0 0.8em;
}

#navigation li {
	display: inline;
	margin: 0 0.5em 0 0;
	font-size: 1.8em;
}

#navigation li a {
	color: white;
}


